body{
	background-color: rgb(250,250,250);
	color: #222;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;

}
#banner{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	float: left;
	z-index: 1;
}
.banner-words{
	color: rgb(51,153,255);
	font-weight: 300;
	font-size: 50px;
	padding: 5px;
}
.p1{
	color: rgb(255,255,255);
	background-color: rgb(51,153,255);
}

h1{
	color: rgb(51,153,255);
}

h2{
	color: rgb(51,153,255);
}

#homepage{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 56px;
    background-color: #fff;
}
.homepage-pic{
	padding-left: 5px;
}
#nav {
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0);
	display: block;
	margin: 0px 0px 0px 0px; 
}

.navbar {
	min-height: 58px;
	margin-bottom: 0px;
}

.navbar-header {
	min-height: 58px;
}

.navbar-brand {
	padding-top: 0px;
}

.navbar-toggle {
	background-color: rgb(51,153,255);
}

.container-fluid {height:58px;}

.navbar-toggle .icon-bar {
	color: black;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
		
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
	}
	
nav > ul > li > a {
		color: #aaa;
		display: block;
		line-height: 56px;
		padding: 0 24px;
		text-decoration: none;
		}
nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}
nav > ul > li:hover {
          background-color: rgb( 51,153,255 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
nav > ul > li > div {
	background-color: rgb( 51,153,255 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: block;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: auto;
	visibility: hidden;
	z-index: 100;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
		display: block;
	}
	
nav > ul > li > div ul > li > a {
			color: #fff;
			display: block;
			padding: 12px 24px;
			text-decoration: none;
		}
	
nav > ul > li > div ul > li:hover > a {
		background-color: rgba( 255, 255, 255, 0.1);
	}
nav > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
#contact-form{
    margin-right: auto;
	text-align: center;
	position:absolute;
	background-color: #fff;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	padding-right: 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
#contact-form-app{
    margin-right: auto;
	text-align: center;
	position:absolute;
	background-color: #fff;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	padding-right: 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);}

input[type="button"] {
	background-color: rgb(51,153,255);
	color: #fff;
	border:none;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: rgb(51,153,255);
	color: #fff;
	border:none;
	border-radius: 5px;
}

#sign-in{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	position:absolute;
	top:10%;
	width:100%;
	background-color: #fff;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	padding-right: 10px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:left;
    margin-left:20px
}

input[type="checkbox"]{
	background-color: rgb(51,153,255);
}

input[type="text"]{
	width:60%;
}

input[type="file"]{
	width:60%;
	margin-left: auto;
	margin-right: auto;
}

input[type="email"]{
	width:60%;
}

label {
    display:inline-block;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

#about{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	position:relative;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
#signed-up{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

#contact {
	margin-left: 37%;
    margin-right: auto;
	text-align: center;
	position:absolute;
	top:10%;
	background-color: #fff;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	padding-right: 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}


#icons {
	padding-top: 10px;
}

i {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.section2 {
	background-color: #EBE8E4;
	color: #888;
	display: block;
	margin: 0px 8px 8px 8px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid;
	padding: 5px;

}
#text{
	margin: 0px 0px 0px 22px;
}
#about{
    margin-right: auto;
	text-align: center;
	position: absolute;
	background-color: #fff;
	border: 1px solid rgb(160,160,160);
	border-radius: 10px;
	padding-right: 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}
.homepage-pic{
	padding-top: 90px;
	min-height: 75%;
	width: 100vm;
	margin-bottom: 0;
	background-image: url('img/gradbox_banner.jpg');
	background-size: cover;
	background-attachment: inherit;
	background-position: center;
}
.content {
	padding-top: 80px;
}

#menugrad {
	width: 126px;
}

#menucompany{
	width: 134px;
}

#buzzwords{
	text-align: center;
}

#headline {
	height:100px;
}