<! DOCTYPE html>
<head>
	{% include 'style.html' %}
	
</head>
<body>
	{% include 'banner.html' %}
	<div class='content'>
		<div id="nav" class='row container'>
			<div class="col-md-1">
	   		</div>
	   		<div class="col-md-10">
				<div id="about">
					<h1>How it works</h1>
					<br>
					<p>We think that a truely great career (like a truely great romance) IS infact a matter of the heart. </p>
					<p> Working from this principle, we think we can apply some of the logic from successful dating searches to successful career searches. </p>
					<h3> People are Unique </h3>
					<p> We also understand that, because everyone is different, not everyone will want to find a job in exactly the same way.</p>
					<p> A lot of people have something specifc in mind when career hunting (whether it's a skill they really want to use, or an atomsphere they want to work in).</p>
					<p> For these people, we offer various algorithmic matching. These include location, company size, skills (ones you have or ones you want), type of company or you can allow our mathematicians to work their magic. </p>
					<p> Other people don't have any idea what they want to do. They simply want to learn about new, exciting companies and be inspired.</p>
					<p> For these people, we offer a serendipity approach to the search. We show you a range of companies, with various job openings, and you respond on gut instinct (with a flick to the left or to the right). You just log in and let us do the rest to inspire you! </p>
				</div>
			</div>
			<div class="col-md-1">
	   		</div>
	   	</div>
	   </div>
</body>
</html>