<! DOCTYPE html>
<head>
	{% include 'style.html' %}
	
</head>
<body>
	{% include 'banner.html' %}
	<div class='content'>
		<div id="nav" class='row'>
			<div class="col-md-1">
	   		</div>
	   		<div class="col-md-10">
				<div id="about">
					<h1>Why GradBOX?</h1>
					<h3>There are thousand of exciting jobs out there with bright propects at vibrant companies, but finding them is another matter. Particularly if you're not sure what you're looking for yet.</h3>
					<p>We founded GradBOX because we were fatigued with the typical avenues of job search available which do not make it easy to find these kind of opportunities and are designed for people with a firm career path in mind</p>
					<p>Careers don't work like that anymore. Rather than setting off up the ladder we are moving around, dipping our toes into many different waters to discover what floats our boat.</p>
					<p>We wanted a platform for people like us; students and recent graduates ready to think outside the box and open to the possibilities available in order to find their true passion.</P>
					<h3> Our aim </h3><p>is to show students and graduates alternatives to the typical graduate schemes (not that we anything against them, it's just important to know your options!). Helping you to find a career that you are passionate about. </p>
					<h3> Finding a Career </h3>
					<p> We are interested in helping you find a CAREER that you love and are passionate about. Whether this means finding you a company because you have known what you wanted to do since you were 5. Or finding ideas to inspire you on a career path you never dreamed of. We think we can help!</p>
					<h3> Finding the right job can be as important as finding the one</h3>
					<blockquote>
				  	<p>
					"Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. And, like any great relationship, it just gets better and better as the years roll on. So keep looking until you find it. Don't settle."
					</p>
					<footer> -Steve Jobs</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-md-1">
	   		</div>
	   	</div>
	   </div>
</body>
</html>