<! DOCTYPE html>
<head>
	{% include 'style.html' %}
	
</head>
<body>
	{% include 'banner.html' %}
	<div class='content'>
		<div id="signed-up" class='row'>
				<h3> Congratulations, you have been successfully signed up! </h3>
				<p> Please check you email account for your password, and log in below. </p>
				<br>
				<br>
				<h3>Sign In</h3>
					<form method="get" action="/applicant/interface">
				        <p><label for="username">Email: </label>
				        	<input type="email" name="login" value="" placeholder="Email" required=""></p>
				        <p><label for="password">Password: </label>
				        	<input type="password" name="password" value="" placeholder="Password" required=""></p>
				        <p class="remember_me">
				          <label>
				            <input type="checkbox" name="remember_me" id="remember_me">
				            Remember me on this computer
				          </label>
				        </p>
				        <p class="submit"><input type="submit" name="commit" value="Login"></p>
				      </form>
				
		</div>
	</div>
	
</body>
</html>