<! DOCTYPE html>
<body>
<div id= "banner">
		<div class='row'>
			<div class = 'col-sm-4'>
				<img src="static/css/img/gradbox_logo1.png" height='60px'>
			</div>
			<div id="nav" class='col-sm-8'>
					<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a>Graduates<span class="caret"></span></a>
							<div>			
								<ul>
									<li><a href="/applicant/signup">Sign Up</a></li>
									<li><a href="">Sign In</a></li>
								</ul>
							</div>
						</li>
						<li><a>Companies <span class="caret"></span></a>
							<div>
								<ul>
									<li><a href="/companies/signup">Sign Up</a></li>
									<li><a href="/companies/signin">Sign In</a></li>	
								</ul>
							</div>
						</li>
						<li><a href="/blog">Blog </a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</nav>
					</ul>
			</div>
		</div>
	</div>
</body>
</html>