<! DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel='stylesheet'>
<link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div id= "banner">
	<nav class="navbar navbar-fixed-top">
		 <div class="container-fluid">
   			<div class="navbar-header">
   				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
       				 <span class="icon-bar"></span>                
      				</button>
				<a class="navbar-brand" href="/home"><img src="../static/css/img/gradbox_logo1.png" height='56px'alt="GradBOX"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/home">Home</a></li>
						<li class="dropdown">
          					<a class="dropdown-toggle" data-toggle="dropdown" href="/applicant">Graduates<span class="caret"></span></a>		
								<ul class="dropdown-menu">
									<li><a href="/applicant/signup">Sign Up</a></li>
									<li><a href="/applicant/signin">Sign In</a></li>
								</ul>
							</li>
						<li class="dropdown">
          					<a class="dropdown-toggle" data-toggle="dropdown" href="/companies">Companies <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/companies/signup">Sign Up</a></li>
									<li><a href="/companies/signin">Sign In</a></li>	
								</ul>
						</li>
						<li><a href="/blog">Blog </a></li>
						<li class="dropdown">
          					<a class="dropdown-toggle" data-toggle="dropdown" href="/about/why">About<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/why">Why GradBOX?</a></li>
									<li><a href="/about/how">How it Works</a></li>	
									<li><a href="/about/team">The Team</a></li>	
								</ul>
							</li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</nav>
	</div>
</body>
</html>