<! DOCTYPE html>
<body>
<div id= "banner">
		<div class='row'>
			<div class = 'col-sm-4'>
				<a href="/home"><img src="../static/css/img/gradbox_logo1.png" height='56px'alt="GradBOX"></a>
			</div>
			<div id="nav" class='col-sm-8'>
					<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/applicant">Graduates<span class="caret"></span></a>
							<div id="menugrad">			
								<ul>
									<li><a href="/applicant/signup">Sign Up</a></li>
									<li><a href="/applicant/signin">Sign In</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/companies">Companies <span class="caret"></span></a>
							<div id="menucompany">
								<ul>
									<li><a href="/companies/signup">Sign Up</a></li>
									<li><a href="/companies/signin">Sign In</a></li>	
								</ul>
							</div>
						</li>
						<li><a href="/blog">Blog </a></li>
						<li><a href="/about/why">About<span class="caret"></span></a>
							<div id="menuabout">
								<ul>
									<li><a href="/about/why">Why GradBOX?</a></li>
									<li><a href="/about/how">How it Works</a></li>	
									<li><a href="/about/team">The Team</a></li>	
								</ul>
							</div>
						</li>
						<li><a href="/contact">Contact</a></li>
					</nav>
					</ul>
			</div>
		</div>
	</div>
</body>
</html>