<! DOCTYPE html>
<body>
<div id= "banner">
		<div class = "banner-words">
			<p> Grad<span class="p1">BOX</span> </p>
		</div>
		<div id="nav" class='row'>
				<nav>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a>Graduates<span class="caret"></span></a>
						<div>			
							<ul>
								<li><a href="/applicant/signup">Sign Up</a></li>
								<li><a href="">Sign In</a></li>
							</ul>
						</div>
					</li>
					<li><a>Companies <span class="caret"></span></a>
						<div>
							<ul>
								<li><a href="/companies/signup">Sign Up</a></li>
								<li><a href="/companies/signin">Sign In</a></li>	
							</ul>
						</div>
					</li>
					<li><a href="/blog">Blog </a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</nav>
				</ul>
		</div>
	</div>
</body>
</html>