<! DOCTYPE html>
<head>
	{% include 'style.html' %}
	<link href="{{ url_for('static', filename='js/jquery.bxslider.css') }}" rel='stylesheet'>
		<!-- jQuery library (served from Google) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- bxSlider Javascript file -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
  		$('.bxslider').bxSlider({
        mode: 'fade',
        auto: false
      });
  		});
	</script>
</head>
<body>
	{% include 'banner.html' %}
	<div class='content'>
		<div class='row'>
			<div class='col-sm-1'>
			</div>
			<div class='col-sm-10'>
				<p> Matched Candidates </p>
				<div class='section'>
				<ul class="bxslider">
				  <li>Enjoy riddles or solving puzzles.</li>
				  <li><img src="static/css/img/laura.jpg"></li>
				  <li><img alt='Cards' src="static/css/images/book.jpg"></li>
				</ul>
				</div>
			</div>
			
		</div> 
			<div class='col-sm-1'>
			</div>
		</div>
	</div>
</body>
</html>