<!DOCTYPE html> <!--email, address, social media buttons-->
<html>
<head>
	<title>Contact></title>
	{% include 'style.html' %}
	<style>
		#map-canvas{
	
			width: 400px;
			height: 300px;

		}
	</style>	
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(51.505151, -0.019459),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var myLatLng = new google.maps.LatLng(51.505151, -0.019459)
        var marker = new google.maps.Marker({
        	position: myLatLng,
        	map: map,
        	title: 'GradBOX, One Canada Square'
        });
      }
       google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head> 

<body>
	{% include 'banner.html' %}

	<div id="contact" class='content'>
		<div>
			<h1>Contact:</h1>	
		</div>
		<div>
			<h3>Email:</h3>
			<p>contact@startupsearch.co.uk</p>
		</div>
		<div>
			<h3>Address:</h3>
			<p>One Canada Square<br>Canary Wharf<br>London<br>United Kingdom<br>E14 5AB</p>	
			<div id="map-canvas"></div>
		</div>
		<div id"icons"><!--social media buttons-->
			<i class="fa fa-facebook-square fa-2x"></i>   
			<i class="fa fa-twitter-square fa-2x"></i>
			<i class="fa fa-linkedin-square fa-2x"></i>
		</div>
	 </div>
</body>
</html>