<! DOCTYPE html>
<head>
	<link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet'>
	
</head>
<body>
	<div id="nav" class='row'>
		<div class='col-sm-4'>
			<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/blog">Blog </a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</nav>
			</ul>
		</div>
	</div>
	<div class='col-sm-8'>
	<div class="maintitle">
	</div>
	</div>
	</div>
	<div id="homepage">
		<h1> START-UP SEARCH </h1>
		<div id="nav" class='row'>
			<div class='col-sm-4'>
				<nav>
					<ul>
						<li><a>Companies <span class="caret"></span></a>
						<div>
							<ul>
								<li><a href="/companies/signup">Sign Up</a></li>
								<li><a href="/companies/signin">Sign In</a></li>
							</ul>
						</div>
						</li>
						<li><a>Applicants<span class="caret"></span></a>
						<div>			
							<ul>
								<li><a href="/applicant/signup">Sign Up</a></li>
								<li><a href="">Sign In</a></li>
							</ul>
						</div>
						</li>
					</ul>
				</nav>	
			</div>	
		</div>	
	</div>	
</body>
</html>