<! DOCTYPE html>
<head>
	{% include 'style.html' %}
</head>
<body>

	{% include 'banner.html' %}
	
	<div id="homepage">
		<div class='homepage-pic'>		
				
		</div>	
		<hr width=80% align="center" size="2px" color="#3399FF">
		<p> Welcome to GradBOX, a service designed to inpire you to think outside the box for your graduate career. </p>
		<p> We bring together entry-level and graduate roles at companies with the kind of cultures that we would like to work at and present them in a way that is easy and intuitive to use.</p>
    <p> If you know what you want, tell us and we will show jobs that fit your preferences. Still not sure? That's fine. Swipe through until you find one you like the sound of.</p>
		<p> No boring CVs and cover letters.</p>
		<p> No complicated job specs. </p>
		<p> Apply with a simple right swipe. </p>
		<hr width=80% align="center" size="2px" color="#3399FF">
		<div class="container">
   			<div class="row">
   				<div class="col-md-1">
   				</div>
     			<div class="col-md-5"> 
     				<h3>Graduates</h3>
     				<p> Quick and simple sign up. </p>
     				<p> Use your Linkedin profile, or fill in a short form. </p>
     				<p> Then decide on careers with a quick swipe. </p>

     			</div>
   				<div class="col-md-5">
   					<h3>Companies</h3>
   					<p> Simply register with us by filling in a simple form. </p>
   					<p> Then choose whether you want to wait for graduates to find you.</p>
   					<p> Or if you want to find them... </p>
   				</div>
   				<div class="col-md-1">
   				</div>
   			</div>
  		</div>
  		<hr width=80% align="center" size="2px" color="#3399FF">
  </div>			
</body>
<!--Image credits-->
</html>
