<! DOCTYPE html>
<head>
	{% include 'style.html' %}
</head>
<body>

	{% include 'banner.html' %}
	
	<div id="homepage">
		<div class='homepage-pic'>		
				
		</div>	
		<hr width=80% align="center" size="2px" color="#3399FF">
		<h3> Welcome to GradBOX, a service designed to inpire you to think outside the box for your graduate career. </h3>
    <br>
		<h3> We bring together entry-level and graduate roles at companies with the kind of cultures that we would like to work at and present them in a way that is easy and intuitive to use.</h3>
    <br>
    <h3> If you know what you want, tell us and we will show jobs that fit your preferences. Still not sure? That's fine. Swipe through until you find one you like the sound of.</h3>
    <br>
    <div class='row blocks'>
    <div class='col-sm-4 block1'>
		<p> No boring CVs and cover letters.</p>
     </div>
    <div class='col-sm-4 block2'>
		<p> No complicated job specs. </p>
    </div>
     <div class='col-sm-4 block3'>
		<p> Apply with a simple right swipe. </p>
      </div>
    </div>
		<hr width=80% align="center" size="2px" color="#3399FF">
		<div class="container">
   			<div class="row">
   				<div class="col-md-1">
   				</div>
     			<div class="col-md-5"> 
            <div id='grad-img'></div>
     				<h3>Graduates</h3>
     				<p> Quick and simple sign up. </p>
     				<p> Use your Linkedin profile, or fill in a short form. </p>
     				<p> Then decide on careers with a quick swipe. </p>

     			</div>
   				<div class="col-md-5">
            <div id='employer-img'></div>
   					<h3>Companies</h3>
   					<p> Simply register with us by filling in a simple form. </p>
   					<p> Then choose whether you want to wait for graduates to find you.</p>
   					<p> Or if you want to find them... </p>
   				</div>
   				<div class="col-md-1">
   				</div>
   			</div>
  		</div>
  		<hr width=80% align="center" size="2px" color="#3399FF">
      <div class='row'>
        <div class='col-md-2'>
        </div>
        <div class='col-md-8'>
          <a class="twitter-timeline" href="https://twitter.com/grad_box" data-widget-id="583287525264998400">Tweets by @grad_box</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class='col-md-2'>
      </div>
  </div>			
</body>
<!--Image credits-->
</html>
