<!DOCTYPE html>
<html>
<head>
  <title>Job Match</title>
  <link href='dist/css/bootstrap.css' rel='stylesheet' >
  <link href='main.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-2'>
      </div>
      <div class='col-sm-8','text-center'>
        <h1>Jobmatch</h1>
        <h2>Description</h2>
      </div>
      <div class='col-sm-2'>
      </div>
    </div>
  </div>
</div>

<div id='video'>
  <!-- Video overview of the service -->
</div>

<div id='description' class='text-center'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
          <h3>For jobseekers</h3>
          <p>We make it easier for you to find your perfect job by removing the boring things like titles and job description and focusing on the <i>kind</i> of person companies are looking for <a href=''>Find out more</a> </p>
      </div>
      <div class='col-sm-6'>
        <h3>For Employers</h3>
          <p></p>
      </div>
    </div>
  </div>
</div>

<div id='signup'>
  <div class='container'>
    <div>
      <h2>Sign Up</h2>
    </div>
      <div class='row'>
        <div class='col-sm-6'>
          <h3>Find your next job</h3>
        </div>
        <div class='col-sm-6'>
          <h3>Find your next hire</h3>
        </div>
    </div>
  </div>
</div>

<div id='footer'>
<div class='row'>
  <div class='col-sm-4'>
  <p>About Us<p>
  <p>Get involved><p>
  </div>
  <div class='col-sm-4'>
    <div id='social-buttons'>
      <button class='btn-twitter btn-lg'>Twitter</button>
      <button class='btn-facebook btn-lg'>Facebook</button>
      <button class='btn-pinterest btn-lg'>Pinterest</button>
    </div>
  </div>
  <div class='col-sm-4'>
  </div>
</div>
</div>

   <!-- Bootstrap core JavaScript
    ================================================== -->
<script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="dist/js/bootstrap.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>


</html>
